.q{
    color: black;
}

.q:hover{
    color: red;
}
.qqq{
    color: red;
}

.boxs{
    box-shadow: 9px 9px 10px black;
}

.ds{
    display: block;
}

.pos{


    position: relative; left: 370px;
}

.bgi{
    background-image: url(pic/design-resources-premium-image.png);
    background-image: cover;
    background-repeat: no-repeat;

}





.q1:hover{
    background-color: red;
}

.ml{
    margin-left:150px; 
}

.ml1{
    margin-left:45px; 
}

.mtt{
    margin-top: 50px;
}

.ro:hover{
    rotate: 30deg;
}


.vo{
	overflow: hidden;
}

.qa{
    margin-left: 90px;
}







@media (max-width:700px)
{

    .pos{

        position: relative; left: 20px;
    }

    .ml{
        margin-left:50px; 
    }
    
    .ml1{
        margin-left:0px; 
    }

    .qa{
        margin-left: 50px;
    }

}




.boxs1{
    box-shadow: 0px 0px 0px;
}

.boxs1:hover{
    box-shadow: 9px 9px 10px black;
}


.t1{
    background-image: url(pic/basil-leaf.png);
    background-attachment:fixed;
    background-repeat: no-repeat

}

